{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}New Post{% endblock %}

{% block content %}
<div class="col-12 col-lg-10 create-post-wrapper">
    <div class="create-post-card shadow-sm">
        <div class="create-post-header">
            <h1 class="create-post-title">New post</h1>
        </div>

        <div class="create-post-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row create-post-row">

                    <div class="col-12 col-md-6 create-post-col">
                        <div class="create-post-editor">

                            {{ form.description|as_crispy_field }}

                            <div class="editor-toolbar">
                                <small class="editor-char-count">0 / 100</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="create-post-actions">
                    <a href="{% url 'feed:home' %}" class="btn btn-light btn-action-cancel">Exit</a>
                    <button type="submit" class="btn btn-primary btn-action-submit">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}