{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="col-12 col-lg-10 home-page-wrapper">
    <h1 class="visually-hidden">Home</h1>
    <div class="feed-wrapper">

        {% if posts %}
            <div class="row feed-grid-row">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show login-alert" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}

                <div class="col-12 col-xl-6 custom-scroll-col">
                    {% for post in posts %}
                        {% if forloop.counter0|divisibleby:2 %}
                            {% include 'sitecontent/post.html' with post=post %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-12 col-xl-6 custom-scroll-col">
                    {% for post in posts %}
                        {% if not forloop.counter0|divisibleby:2 %}
                            {% include 'sitecontent/post.html' with post=post %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% else %}
            <div class="feed-empty-state">
                <i class="bi bi-journal-text empty-state-icon"></i>
                <p class="empty-state-text">Feed is empty. Be the first to write something!</p>
            </div>

        {% endif %}

    </div>
</div>
{% endblock %}