<div class="user-card">
    <div class="user-profile-info">
        <a href="{% url 'users:profile' user.username %}">
            <img src="https://ui-avatars.com/api/?name={{ user.username }}&background=0D8ABC&color=fff" alt="Avatar" class="avatar-img">
        </a>
        <div class="user-text">
            <a href="{% url 'users:profile' user.username %}" class="text-decoration-none text-dark">
                <span class="user-name">{{ user.username }}</span>
            </a>
            <span class="user-handle">@{{ user.username|lower }}</span>
            <span class="user-bio">User description</span>
        </div>
    </div>
    <form action="{% url 'users:follow' user.username %}" method="POST" class="m-0">
        {% csrf_token %}
        <button type="submit" class="btn-follow">Follow</button>
    </form>
</div>