<div class="user-card">
    <div class="user-profile-info">
        <a href="{% url 'users:profile' user.username %}">
            <img src="https://ui-avatars.com/api/?name={{ user.username }}&background=0D8ABC&color=fff" alt="{{ user.username }}'s avatar" class="avatar-img">
        </a>
        <div class="user-text">

            <a href="{% url 'users:profile' user.username %}" class="user-name-link">
                <span class="user-name">{{ user.username }}</span>
                {% if user.is_private %}
                    <i class="bi bi-lock-fill user-private-icon" title="Private Profile"></i>
                {% endif %}
            </a>

            <span class="user-handle">@{{ user.username|lower }}</span>

            <span class="user-bio">
                {{ user.bio|default:"No bio"|truncatechars:40 }}
            </span>
        </div>
    </div>

{% if request.user != user %}

    <form action="{% url 'users:follow' user.username %}" method="POST" class="user-follow-form">
        {% csrf_token %}

        {% if user.id in accepted_following_ids %}
            <button type="submit" class="btn btn-outline-secondary btn-follow">Following</button>

        {% elif user.id in pending_following_ids %}
            <button type="submit" class="btn btn-secondary btn-follow">Requested</button>

        {% else %}
            <button type="submit" class="btn btn-primary btn-follow">Follow</button>

        {% endif %}

    </form>
{% endif %}
</div>