{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block authentication %}
<div class="login-wrapper">
    <div class="signup-container">

        <div class="login-title-container">
            <h1>Social network</h1>
        </div>

        <div class="login-card">
            <div class="login-card-body">
                <h2 class="login-heading">Sign up</h2>

                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-signup">Register</button>
                </form>

                <div class="signup-footer">
                    <p>Already signed up? <a href="{% url 'users:login' %}">Log in here</a></p>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}